# Ignore virtual environments
venv/
env/
.venv/
ENV/
config/.env
.env

# Kaggle and sensitive data files
kaggle.json
*.h5
xr_bones.zip
*.zip

# Ignore all __pycache__ directories
__pycache__/

# Ignore specific __pycache__ directory
/workspaces/X-Ray-Bones-Fracture-Detection/src/utils/__pycache__/

# Ignore all .pyc files
*.pyc

# Project-specific data directories
data/
workspaces/DetectionXR/data/

logs/

db
*.sqlite3
*.sql
*.db


media/
