# Ignore virtual environments
venv/
env/
.venv/
ENV/
config/.env
.env

# Kaggle and sensitive data files
kaggle.json
*.h5
xr_bones.zip
*.zip

/__pycache__/
/workspaces/X-Ray-Bones-Fracture-Detection/src/utils/__pycache__
*.pyc
# Project-specific data directories
data/
workspaces/DetectionXR/data/
